<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Feedback | Signup</title>
     <link rel="stylesheet" href="/css/style.css">
     <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
</head>
<body>
     <section class="signup-container login-container">
          <form action="/signup" class="signup-form" method="POST">
               <p style="color: red;font-size: 1.2rem;"><%=err%></p>
               <h1>signup</h1>
               <div class="input1">
                    <label for="">First Name</label>
                    <input type="text" placeholder="eg : silambu" required>
               </div>
               <div class="input1">
                    <label for="">Email</label>
                    <input type="email" name="sname" placeholder="eg : silambu@gmail.com" required>
               </div>
               <div class="input1">
                    <label for="">Password</label>
                    <input type="password" name="spass" placeholder="eg : ********" required>
               </div>
               <div class="log-btns">
                    <button type="submit">signup</button>
                    <button type="button"><a href="/login">login</a></button>
               </div>
          </form>
     </section>
</body>
</html>